body {
    background-color: rgb(223, 110, 29);
    color: rgb(5, 31, 109);
    text-align: center;
    position: absolute;
    top: 50px;
    left: 120px;
    width: 120;
}

table {
    border: 5px solid rgba(97, 6, 6, 0.76);
   
}
th,td{
    border:3px solid rgb(57, 80, 151);
    
}